body , h1,h2,h3,li,ul{
    margin:5;
    padding:5;
}
h1{
    color:blueviolet;
}
body{
    background-color: brown;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
